/*nav*/
.nav_container{
	text-align: right;
	margin-left: 5px;
	color: white;
}
li{
	list-style: none;
	display: inline-block;
	color: white;
	/*border: 8px solid blue;*/
}
.headerA{
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
.headerA:hover{
	text-decoration: underline;
	text-decoration-style: wavy;
}


/*intro*/
a{
	/*color: black;*/
	text-decoration: underline;
}
a:hover{
	text-decoration-style: wavy;
}
.name{
	text-align: left;
	color: #DC3E97;
	font-size: 50px;
	line-height: 60px;
	/*border: 8px solid blue;*/
}
/*content*/
.content{
	text-align: left;
	font-size: 35px;
	line-height: 65px;
	border: 8px solid blue;
}
img{
	float: right;
	border: 8px solid blue;
	transition: all .5s;
}

img:hover{
	transform: scale(5.05);
}

/*Copy*/
footer{
	clear: both;
	text-align: right;
	border: 8px solid blue;
	font-weight: normal;
	font-size: 11px;
}
