/*overall*/
html{
	background-color: white;
}
body{
	margin: 0px;
	font-family: "Roboto";
	/*font-weight: bold;*/
	color: black;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
	text-decoration-style: wavy;
}



/*nav*/
.nav_container{
	font-family: "Roboto Mono", monospace;
	font-weight: bold;
	margin: 15px 20px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
li{
	list-style: none;
	display: inline-block;
	margin: 0px 5px;
	font-size: 5px;
}
li a:hover{
	color: black;
}
.left img{
	margin-top: 3px;
	width: 40px;
}



section{
	padding: 30px;
	background-color: lightgrey;
	margin: 0px 20px;
}

/*titles*/
h1{
	margin: 0px;
	font-size: 8em;
	font-weight: 300;
	text-align: center;
}
h2{
	font-family: "Roboto Mono", monospace;
	font-size: 1em;
}
.works{}
/*digital content*/
.container{}
.works img{
	max-width: 40%;
}
/*tangible content*/