/*overall*/
html{
}
body{
	margin: 0px;
	font-family: "Roboto";
	color: black;
	background-image: url("collage.jpg");
	background-size: 100vw 100vh;
	background-position: 50% 0%;
	background-repeat: no-repeat;
}
a{
	text-decoration: none;
	color: grey;
}
a:hover{
	text-decoration: underline;
	text-decoration-style: wavy;
}



/*nav*/
.nav_container{
	font-family: "Roboto Mono", monospace;
	font-weight: bold;
	margin: 15px 20px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
li{
	list-style: none;
	display: inline-block;
	margin: 0px 5px;
	font-size: 5px;
	color: grey;
}
li a:hover{
	color: white;
}
.left img{
	margin-top: 3px;
	width: 40px;
}


/*title*/
.w_data{
	font-family: "Roboto Mono", monospace;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	/*change font to sth*/
	padding-top: 25vh;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 400;
	color: grey;
}
.w_text{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	max-width: 80%;
	padding: 0px 30px;
	font-size: 45px;
	font-weight: normal;
	line-height: 60px;
	color: white;
}
