/*overall*/
html{
	background-color: black;
}
body{
	margin: 50px;
	font-family: "Roboto Mono", monospace;
	font-weight: bold;
	color: white;
}

h1{
	font-size: 7em;
	text-align: left;
	margin-bottom: 150px;
}


.toRead{
	margin-bottom: 100px;
	font-weight: normal;
}


.container{
	font-size: 1em;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
.date{
	font-weight: bold;
}
.book{
	width: 600px;
	height: auto;
	margin: 0px 50px 0px 10px;
}
.quote{
	font-size: .8em;
	font-weight: 300;
	font-style: italic;
}